/* utilities */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
header{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header h2{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
}
.header-btn{
    width: 168px;
    height: 44px;
    background-color:#E02C6D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
/* hover effect on button  */
.header-btn:hover{
    transform:scale(1.2);
    transition: transform 2s ease-in-out;
}
.header-btn-watch a{
    text-decoration: none;
    color: white;
}
.header-btn .fa-arrow-right{
    width: 24px;
    height: 24px;
    color: white;
    padding-top: 10px;
}
.header-img img{
    width: 556.01px;
    height: 438px;
}
/* player style  */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 5px 5px 20px rgba(41, 85, 129, 0.342);
    padding: 15px;
    margin: 15px;
}
.player-profile img{
    width: 329px;
    height: 267px;
}
.player-detail h2{
    font-size: 28px;
}
.player-detail p{
    font-size: 16px;
    font-weight: normal;
    color: #6C6C6C;
}
/* player all article ends here */

/*---------------- 
second section style
---------------------*/
.copa-america-about{
    display: flex;
    justify-content: space-around;
    margin-top: 99px;
}
.copa-america-higlights{
    width: 466px;
    height: 309px;

}
.highlight{
    display: flex;
    flex-direction: column;
}
.highlight h2{
    font-weight: bold;
    font-size: 48px;
    color: black;
}
.highlight p{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: -5px;
}
.highlights-img img{
    width: 567px;
    height: 427px;
    border-radius: 5px;
}

/*-----------------
 sponsors style 
 ------------------ */

.sponsors{
    margin-top: 65px;
}
.sponsors-title{
    text-align: center;
    color: rgba(72, 135, 207, 0.801);
}
.sponsors-img{
    display: flex;
    justify-content: center;
    width: 86px;
    height: 50px;
    margin-left: 47%;
}
/* footer styles  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.football-logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon{
    width: 174px;
    height: 25px;
}
.social-icon{
    font-size: 2em;
    margin-bottom: 10px;
    
}
.social-icon .fab{
    padding-right: 5px;
}

/*------------------
 mobile devices media query 
 -------------------*/
 @media only screen and (max-width:688px){
     body{
         max-width: 100%;
     }
    header{
        max-width: 100%;
        height: auto;
        overflow: hidden;
        flex-direction: column;
    }
    .header-phara h2{
        font-size: 36px;
    }
    .header-img{
        margin-top: 52px;
        max-width: 80%;
        margin-left: 50%;
        transform: translate(-49%);
    }
     .players{
         width: 100%;
         grid-template-columns: repeat(1,1fr);
      } 
      .copa-america-about{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
      }
    .copa-america-higlights{
        width: 329px;
       height: 299px;
       flex-direction: column;
    }
    .highlight h2{
        font-size: 30px;
    }
    .highlights-img img{
        width: 350px;
        height: 248px;
        margin-top: 45px;
    }
 }